# fly.toml app configuration file generated for friendlyface on 2026-02-07T13:51:44-05:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'friendlyface'
primary_region = 'iad'

[build]

[env]
  FF_HOST = '0.0.0.0'
  FF_PORT = '8000'
  FF_STORAGE = 'sqlite'

[[mounts]]
  source = 'ff_data'
  destination = '/app/data'

[http_service]
  internal_port = 8000
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 1

  [[http_service.checks]]
    interval = '15s'
    timeout = '5s'
    grace_period = '10s'
    method = 'GET'
    path = '/health'

[[vm]]
  memory = '512mb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 512
